.home__segundo--circulo {
  position: absolute;
  width: 40%;
  height: 50%;
   clip-path: circle(50% at 9% 86%);
  bottom: 0;
  left: 0;
  background: rgba(189, 188, 188, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
}
.nuevo-home__segundo--servicio1 {
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transform: translate(-200px);
  transition: all 1s ease;
  visibility: hidden;
}
.home__segundo--servicio1 {
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transform: translate(0px);
  transition: all 1s ease;
  visibility: visibleservicio2__title;
}

.home__segundo--servicio1 h1,
.nuevo-home__segundo--servicio1 h1 {
  font-size: calc(5em + 5vw);
  margin-top: 48px;
  color: var(--color-white);
  font-weight: 700;
}

.home__segundo--servicio1 p,
.nuevo-home__segundo--servicio1 p {
  width: 50%;
  font-size: calc(1em + 1vw);
  margin-top: 60px;
  color: var(--color-white);
  line-height: 30px;
  font-weight: 700;
}

.home__segundo--servicio2 {
  width: 55%;
  height: 80%;
}

.servicio2__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  transform: translate(0px, 0px);
  transition: all 1s ease;
 
 }
.nuevo-servicio2__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  transform: translate(0px, -120px);
}

.servicio2__title h1 {
  text-align: start;
  width: 100%;
  color: var(--color-white);
  font-size: calc(1.9em + 1.47vw);
  padding-bottom: 30px;
}
.home__segundo--servicio2 .nuevo-servicio2__box {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transform: translateY(200px);
  visibility: hidden;
  transition: all 1s ease;
}
.home__segundo--servicio2 .servicio2__box {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transform: translateY(0px);
  visibility: visible;
  transition: all 1s ease;
}

.servicio2__box--1 {
  width: 40%;
  transition: all 1s ease;
  overflow: hidden;
  }

.servicio2__box--1 h1 {
  font-size: calc(0.9em + 0.9vw);
  color: var(--color-negro);
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 1s ease;
}

.servicio2__box--1 h1:hover {
  color: var(--color-white);
  transition: all 1s ease;
}

.servicio2__box--1 p {
  font-size: calc(0.6em + 0.6vw);
  color: var(--color-white);
  margin-bottom: 20px;
}

.servicio2__box--1 h3 {
  font-size: calc(0.6em + 0.7vw);
  color: var(--color-white);
  /* visibility: hidden; */
  transform: translate(0px, 70px);
  transition: all 1s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.servicio2__box--1 > h3 > i{
   margin-left: 8px;
}
.servicio2__box--1:hover h3 {

  visibility: visible;
  transition: all 1s ease;
  transform: translate(0px, 0px);

}

.servicio2__box--2 {
  width: 40%;
  transition: all 1s ease;
  overflow: hidden;
}

.servicio2__box--2 h1 {
  font-size: calc(0.9em + 0.9vw);
  color: var(--color-negro);
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 1s ease;
}

.servicio2__box--2 h1:hover {
  color: var(--color-white);
  transition: all 1s ease;
}

.servicio2__box--2 p {
  font-size: calc(0.6em + 0.6vw);
  color: var(--color-white);
  margin-bottom: 20px;
}

.servicio2__box--2 h3 {
  font-size: calc(0.6em + 0.7vw);
  color: var(--color-white);
  transform: translate(0px, 50px);
  transition: all 1s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.servicio2__box--2:hover h3 {

  visibility: visible;
  transition: all 1s ease;
  transform: translate(0px, 0px);

}
.servicio2__box--2 > h3 > i{
  margin-left: 8px;
}
.carrousel {
  width: 7%;
  max-width: 60em;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
}

.carrousel .grande {
  width: 400%;
  display: flex;
  flex-wrap: row nowrap;
  justify-content: space-between;
  gap: 59px;
  align-items: center;
  padding: 2em;
  transition: all 4s ease;
  /* transform: translateX(-50%) */
  animation: app 8s infinite;

}

.carrousel .img {
  width: calc(100% / 4);
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrousel .img a i {
  color: var(--color-white);
  font-size: calc(1.2em + 1.3vw);
  cursor: pointer;

}


@keyframes app {
  0% {
    transform: translateX(0%);
  }

  12.5% {
    transform: translateX(-25%);
    ;
  }

  25% {
    transform: translateX(-50%);
    ;
  }

  37.5% {
    transform: translateX(-75%);
    ;
  }

  50% {
    transform: translateX(-75%);
    ;
  }

  62.5% {
    transform: translateX(-50%);
    ;
  }

  75% {
    transform: translateX(-25%);
    ;
  }

  87.5% {
    transform: translateX(0%);
    ;
  }

  100% {
    transform: translateX(0%);
    ;
  }
}

@keyframes desvanecer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width:1300px) {

  .home__segundo--servicio2 {
    width: 67%;
  }
}
@media screen and (max-width:1300px) {
  .carrousel {
    width: 14%;
  display: none;
  }
}

@media screen and (max-width:900px) {

  .servicio2__title h1 {
    line-height: 35px;
    font-size: calc(1.5em + 1.47vw);
  }
}

@media screen and (max-width:600px) {

  .home__segundo--servicio1 h1,
.nuevo-home__segundo--servicio1 h1 {
  font-size: calc(3em + 3vw);
  margin-top: 28px;
  color: var(--color-white);
  font-weight: 700;
}
.home__segundo--servicio1 p,
.nuevo-home__segundo--servicio1 p {
  width: 50%;
  font-size: calc(0.7em + 0.7vw);
  margin-top: -10px;
  color: var(--color-white);
  line-height: 15px;
  font-weight: 400;
}
.servicio2__box--1 {
  width: 70%;
 }
 .servicio2__box--2 {
  width: 70%;
 }

.home__segundo--servicio2 .servicio2__box {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.servicio2__title h1 {
  text-align: center;
}
}

@media screen and (max-width:300px) {

  .nuevo-home__segundo--servicio1 {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: row;
  }
  .home__segundo--servicio1 {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: row;
  }
  .home__segundo--servicio1 h1,
  .nuevo-home__segundo--servicio1 h1 {
    /* font-size: calc(3em + 3vw); */
    margin-top: -10px;
    color: var(--color-white);
    font-weight: 700;
  }
  
 
.servicio2__title {
 
  margin-top: -30px;
   
 
 }
.nuevo-servicio2__title {
  
  margin-top: 0px;
 }

.servicio2__title h1 {
  
  padding-bottom: 30px;
}
.home__segundo--servicio2 .servicio2__box {
  margin-top: 0px;
  gap: 0px;
 }
 .servicio2__box--1 {
  width: 90%;
 }
 .servicio2__box--2 {
  width: 90%;
 }
}