:root {
  --color-white: #FFFFFF;
  --color-line: #E3E2E2;
  --color-dark: #393939;
  --color-negro: #000000;
  --color-nav: #F75757;
  --color-gray: rgb(182, 181, 181);
}

body {
  background: white;
}

.container__home {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0rem 45.625rem 45.625rem 48rem 45.625rem 45.625rem;
  grid-template-areas:
    "header header header header header"
    "principal principal principal principal principal"
    "segundo segundo segundo segundo segundo"
    "experiencia experiencia experiencia experiencia experiencia"
    "habilidades habilidades habilidades habilidades habilidades "
    "contacto contacto contacto contacto contacto"

  ;
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: all 2s ease;
}

.home__header {
  grid-area: header;
  position: relative;
  z-index: 9;
}

.home__principal {
  width: 100%;
  background: white;
  grid-area: principal;
  position: relative;
}

.home__experiencias {
  background: var(--color-negro);
  grid-area: experiencia;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__experiencias-mode {
  background: var(--color-white);
  grid-area: experiencia;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkMode-segundo {
  background: #ec4a24;
  grid-area: segundo;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease;
  overflow: hidden;
}

.home__segundo {
  background: #ec4a24;
  grid-area: segundo;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.darkMode {
  background: #000000;
  grid-area: principal;
  position: relative;
  display: flex;
}

.home__habilidades {
  background: #ec4a24;
  grid-area: habilidades;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.home__contacto {
  background: var(--color-negro);
  grid-area: contacto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home__contacto-mode {
  background: var(--color-white);
  grid-area: contacto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ///////////////////////////////////// */
.btn-new {
  position: absolute;
  z-index: 10;
}


@keyframes desvanecer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width:1013px) {
  .container__home {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0rem 45.625rem 45.625rem 53rem 47.625rem 45.625rem;
    grid-template-areas:
      "header header header header header"
      "principal principal principal principal principal"
      "segundo segundo segundo segundo segundo"
      "experiencia experiencia experiencia experiencia experiencia"
      "habilidades habilidades habilidades habilidades habilidades "
      "contacto contacto contacto contacto contacto"
    ;
  }

}

@media screen and (max-width:800px) {
  .container__home {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0rem 45.625rem 45.625rem 53rem 45.625rem 45.625rem;
    grid-template-areas:
      "header header header header header"
      "principal principal principal principal principal"
      "segundo segundo segundo segundo segundo"
      "experiencia experiencia experiencia experiencia experiencia"
      "habilidades habilidades habilidades habilidades habilidades "
      "contacto contacto contacto contacto contacto"
    ;
  }
}

@media screen and (max-width:420px) {
  .container__home {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0rem 45.625rem 45.625rem 60rem 45.625rem 45.625rem;
    grid-template-areas:
      "header header header header header"
      "principal principal principal principal principal"
      "segundo segundo segundo segundo segundo"
      "experiencia experiencia experiencia experiencia experiencia"
      "habilidades habilidades habilidades habilidades habilidades "
      "contacto contacto contacto contacto contacto"
    ;
  }
}

@media screen and (max-width:300px) {
  .darkMode-segundo {
    flex-direction: column;
  }

  .home__segundo {
    flex-direction: column;
  }

  .home__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home__contacto-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}